.Game {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x:hidden;
    overflow-y:hidden;

}

.game-status-bar {
    background-color: white;
    box-shadow: 0px 5px 10px -6px #1d1d1d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    position: fixed;
    z-index: 100;
}   

.game-status-bar, .game-logo-container, .time-container, .characters-container, .game-image-container {
    padding: 10px;
}

.time-container {
    width: 100px;
    height: 100px;
    border: 2px solid #d8202c;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.game-logo {
    max-width: 150px;
    max-height: 150px;
}

.characters-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    justify-self: flex-end;
}

.character {
    width: 50px;
    height: 50px;
}

.img-face {
max-width: 100%;
max-height: 100%;
border-radius: 50%;
border: 1px solid #0582c5;

}

.img-found {
    opacity: .4;
}

.game-image-container {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    position: relative;
}

.game-image {
    box-shadow: 0px 5px 5px 5px lightgray;
    cursor: pointer;
}



/* Popup component */
.Popup {
    width: 60px;
    height: 60px;
    border: 5px solid #0582c5;;
    background-color: rgba(211, 211, 211, 0.39);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d8202c;
}

.Popup-menu {
    display: flex;
    flex-flow: column;
    background-color: #0582c5;
}

.btn-waldo, .btn-odlaw, .btn-wizard {
    background-color: #d8202c;
    height: 50px;
    width: 100px;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}

.btn-face {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: 1px solid #0582c5;
    margin-right: 5px;
}