.Title {
    width: 100vw;
    height: 100vh;
    z-index: 60;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.title-logo {
    max-width: 70%;
    max-height: 70%;
    overflow: hidden;
}


.btn-start {
    font-family: 'Acme';
    font-size: 3vw;
    margin: 20px;
    background-color: #0582c5;
    color: #d8202c;
}

